<head> 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="javascripts/vendor/angular/angular.js"></script>

	<script src="javascripts/controllers/PupController.js"></script>

	<script src="javascripts/vendor/cryptojs/components/core.js"></script>
	<script src="javascripts/vendor/cryptojs/components/sha256.js"></script>
	<script src="javascripts/vendor/cryptojs/components/enc-base64.js"></script>
</head> 

<div ng-app="formApp" ng-controller="formController">
	<span>
		Form Data:
		<br>
		{{ formData }}
		<br>
	</span>

	<!-- FORM -->
	<form ng-submit="processForm()">
		<!-- SUBMIT BUTTON -->
		<button type="submit" class="btn btn-success btn-lg btn-block">
			Submit!
		</button>
	</form>
</div>